.field {
    margin-bottom: 10px;
}

.field.hasError {
    color: red;
}

.field.hasError .input {
    color: red;
    border-color: red;
}

.label {
    display: block;
    font-weight: bold;
}

.required .label:after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.error {
    color: red;
}

.inputError {
    border-color: red;
    color: red;
}

.helpText {
    color: #aaa;
}
