.field {
    margin-bottom: 10px;
}

.label {
    display: block;
    font-weight: bold;
}

.required .label:after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.error {
    color: red;
}
