.field {
    margin-bottom: 10px;
}

.field.hasError {
    color: red;
}

.field .input.text {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
}

.field.hasError .input {
    color: red;
    border-color: red;
}

.input :global(.ql-container.ql-snow) {
    background-color: #fff;
}

.input :global(.ql-container) {
    height: 200px;
}

.field.hasError .input :global(.ql-toolbar.ql-snow),
.field.hasError .input :global(.ql-container.ql-snow) {
    border-color: red;
}

.label {
    display: block;
    font-weight: bold;
}

.required .label:after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.error {
    color: red;
}

.inputError {
    border-color: red;
    color: red;
}

.helpText {
    color: #aaa;
}
